* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    color: #E5E7EB;
    background-color: #121826;
    background-image: url(resources/Background_image.svg);
}

.text--h1 {
    font-size: 40px;
    font-weight: 600;
}

.text--h2 {
    font-size: 20px;
    font-weight: 600;
}

.text--body {
    font-size: 16px;
    font-weight: 400;
    color: #9DA3AE;
}

.icon-yellow {
    background-color: #FCEED8;
}
.icon-blue {
    background-color: #DEE9FC;
}
.icon-red {
    background-color: #FBE5E6;
}

.feedbacks__title {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 48px;
}

.feedbacks_description {
    max-width: 400px;
    margin: 16px auto 48px auto;
    text-align: center;
}

.feedbacks__cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.feedbacks__card {
    max-width: 316px;
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #212936;
    border-radius: 20px;
}

.feedbacks__cards-icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedbacks__cards-img {
    border-radius: 20px;
}

.feedbacks__cards-description {
    max-width: 230px;
}

@media (max-width: 640px) {
    .feedbacks__cards {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
}